body {
  font-size: 1.25rem;
}
div#box {
  height: 255px;
  width: 255px;
  background-color: #CCCCCC;
  display: flex;
  flex-direction: column;
}
div#box > * {
  height: 40px;
  margin: auto;
  mix-blend-mode: difference;
  color: #FFFFFF;
}
