body
{
	height: 90%;
	font-family: sans-serif;
}

.form_wrap 
{
	align-self: center;
	padding-left: 35%;
	border: 3px solid lightgray;
}

h1
{
	font-weight: bold;
}

.FormItemBordered
{
	padding: 15px;
	margin: 15px;
	border: 1px solid lightgray;
}

label
{
	font-size: 0.7em;
}

input[type=text]
{
	margin-top: 7px;
	width: 100%;
}

#Desc
{
	height: 120px;
	width: 100%;
}

